<!DOCTYPE html>
<html>

<%- partial('_partials/head.ejs') %>

<body>
  <%- partial('_partials/header.ejs') %>
  <div class='container'>
    <%- body %>
  </div>

  <%- partial('_partials/js_jq.ejs') %>
</body>

</html>